@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* CSS global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  
}

.BlogPage,
.ContatoPage,
.ErrorPage,
.FaqPage,
.HomePage,
.SobrePage {
  max-width: 1200px;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  font-size: 1.5rem;
}